body {
  background-color: rgb(49, 53, 56);
}

#nav {
  display: flex;
  padding: 1rem;
}

#nav button, .submit {
  margin-left: 1rem;
  padding: 0.3rem 0.7rem;
  font-family: "fippsregular", Arial sans-serif;
  background-color: #1c971c;
  border: 2px solid black;
  box-shadow: 2px 2px gray;
  transform: translate(-2px, -2px);
  outline: none;
}

#nav button:hover, .submit:hover {
  background-color: #57bb1e;
  cursor: pointer;
  transform: translate(0, 0);
  box-shadow: none;
}

#landing-page-container, #login-container, #register-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#logo {
  margin-top: 15px;
  padding-bottom: 10px;
  background: #1c971c;
  border: 10px solid black;
  outline: 2px solid grey;
}

#landing-page-container h1 {
  text-align: center;
  font-family: "fippsregular", Arial sans-serif;
  font-size: 5rem;
}

.auth-input {
    height: 16px;
    width: 120px;
    padding: 5px;
}
