#nav {
    display: flex;
    padding: 1rem;
}

#nav button {
    margin-left: 1rem;
    padding: 0.3rem 0.7rem;
    font-family: "fippsregular", Arial sans-serif;
    background-color: #164d16;
    border: 2px solid black;
    box-shadow: 2px 2px gray;
    transform: translate(-2px, -2px);
} 

#nav button:hover {
    background-color: #1b721b;
    cursor: pointer;
    transform: translate(0, 0);
    box-shadow: none;
}

#landing-page-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: rgb(68, 64, 9);
}



#landing-page-container h1 {
    text-align: center;
    font-family: "fippsregular", Arial sans-serif;
    font-size: 5rem;
}