* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.panel {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.left-panel {
  margin-right: 10px;
}

.right-panel {
  margin-left: 10px;
}

.panel h2 {
  margin-top: 10px;
  text-align: center;
  font-family: 'fippsregular', Arial sans-serif;
  font-size: 1.2rem;
}

/* ========== SCOREBOARD ========== */

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-bottom: 1rem;
  width: 100%;
  height: 50%;
  background-color: rgb(117, 212, 117);
}

.scoreboard h4 {
  font-family: 'arcadeclassicregular', Arial sans-serif;
  font-size: 1.5rem;
}

.scores,
.player-score {
  padding: 0 1rem;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

.highscore {
  padding-left: 1rem;
}

.chat {
  margin-top: 5px;
  width: 100%;
  height: 50%;
  background-color: skyblue;
}

.map {
  width: 100%;
  margin-bottom: 5px;
  height: 33%;
}

.inventory {
  margin-top: 5px;
  width: 100%;
  height: 66%;
  background-color: #5d390f;
}

#container {
  width: 500px;
  height: 500px;
}
