* {
  margin: 0;
  padding: 0;
}

#game-container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.panel {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

.left-panel {
  margin-right: 10px;
}

.right-panel {
  margin-left: 10px;
}

.panel h2 {
  margin-top: 10px;
  text-align: center;
  font-family: 'arcadeclassicregular', Arial sans-serif;
  text-shadow: 2.5px 2.5px black;
  font-size: 1.8rem;
}

/* ========== SCOREBOARD ========== */

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-bottom: 1rem;
  width: 100%;
  height: 50%;
  background-color: #a51900;
}

.scoreboard h4 {
  font-family: Consolas, monaco, monospace;
  font-size: 1.1rem;
}

.scores,
.player-score {
  padding: 0 1rem;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

.highscore {
  padding-left: 1rem;
}

/* =================== CHAT =================== */

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
  height: 50%;
  background-color: #001f99;
  color: whitesmoke;
}

.chat * {
  font-family: Consolas, monaco, monospace;
}

/* .chat-flip {
  display: flex;
  flex-flow: column-reverse
} */


#chat-container {
  display: flex;
  flex-flow: column-reverse;
  margin: 0 1rem 0 1.7rem;
  flex-grow: 1;
  overflow-y: scroll;
}
#chat-container::-webkit-scrollbar {
  width: 16px;
}
#chat-container::-webkit-scrollbar-track {
}
#chat-container::-webkit-scrollbar-thumb {
  background: #4d6fa5;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#chat-container::-webkit-scrollbar-thumb:hover {
}

#chat-container > * {
  display: block;
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  color: grey;
}

#chat-container > p > span {
  color: black;
}

/* ================= CHAT OPTIONS ================= */

.chat-options {
  z-index: 10;
  box-shadow: 0 -5px 4px -5px black;
  padding: 0.5rem 1rem 0.5rem 1.7rem;
  display: flex;
  justify-content: space-evenly;
}

.chat-options button {
  padding: 0.3rem 1rem;
  background: #0028c9;
  border: 2px solid black;
  box-shadow: 2px 2px gray;
  transform: translate(-2px, -2px);
  outline: none;
  color: whitesmoke;
}

.chat-options button:hover {
  cursor: pointer;
  background: #4d6fa5;
  box-shadow: none;
  transform: translate(0, 0);
  color: white;
}

/* ============= MAP ============= */

.map {
  width: 100%;
  margin-bottom: 5px;
  height: 33%;
}

/* =============== INVENTORY =============== */

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 66%;
  background-color: #d6b600;
}

.inventory * {
  font-family: Consolas, monaco, monospace;
  font-size: 1.3rem;
}

.inventory-header {
  margin: 0.5rem 2rem 0.5rem 1.7rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#inventory-container {
  flex-grow: 1;
  margin: 0 1rem 0.5rem 1.7rem;
  flex-grow: 1;
  overflow-y: scroll;
}

#inventory-container::-webkit-scrollbar {
  width: 1rem;
}
#inventory-container::-webkit-scrollbar-track {
}
#inventory-container::-webkit-scrollbar-thumb {
  background: #462a0a;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#inventory-container::-webkit-scrollbar-thumb:hover {
}

/* ================ ITEM ================ */

.item {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.third {
  width: 32%;
}

.third:nth-child(2) {
  text-align: center;
  margin: 0;
}

.third:nth-child(3) {
  text-align: right;
  margin: 0;
}

#inventory-totals {
  margin: 0rem 2rem 0.5rem 1.7rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container {
  width: 500px;
  height: 500px;
}

/* ================== CONTROL PANEL ================== */

.control-panel {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: grey;
}

.control-panel > h3 {
  font-family: 'arcadeclassicregular', Arial sans-serif;
  color: white;
  text-shadow: 2.5px 2.5px black;
  font-size: 1.8rem;
  text-align: center;
  margin: 0.5rem auto 0;
}

.control-panel-box {
  box-sizing: border-box;
  width: 100%;
  height: 12rem;
  padding: 0 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

.control-third {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 0.7rem;
  justify-content: flex-end;
}

.control-third img {
  flex-grow: 2;
  padding: 1rem 0 1.5rem;
  object-fit: contain;
}

.control-third h4 {
  /* flex-grow: 1; */
  font-family: Consolas, monaco, monospace;
  color: #dddddd;
  text-shadow: 1px 1px black;
  font-size: 1.5rem;
  text-align: center;
}