* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.panel {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.left-panel {
  margin-right: 10px;
}

.right-panel {
  margin-left: 10px;
}

.panel > div > h2 {
  margin-top: 10px;
  text-align: center;
}

.scoreboard {
  margin-bottom: 5px;
  width: 100%;
  height: 50%;
  background-color: rgb(117, 212, 117);
}

.chat {
  margin-top: 5px;
  width: 100%;
  height: 50%;
  background-color: skyblue;
}

.map {
  background-color: azure;
  width: 100%;
  margin-bottom: 5px;
  height: 50%;
}

#container {
  width: 500px;
  height: 500px;
}
