body {
  background-color: rgb(33, 35, 37);
}

p,
label {
  font-family: 'arcadeclassicregular', Arial sans-serif;
  color: white;
}

#nav {
  display: flex;
  padding: 2rem;
}

#nav button,
.submit {
  margin-left: 1rem;
  padding: 0.3rem 0.7rem;
  max-height: 2.5rem;
  font-family: 'fippsregular', Arial sans-serif;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px gray;
  transform: translate(-2px, -2px);
  outline: none;
}

#nav button:hover,
.submit:hover {
  background-color: #57bb1e;
  cursor: pointer;
  transform: translate(0, 0);
  box-shadow: none;
}

/* #landing-page-container,
#login-container,
#register-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
} */

#landing-page {
  display: flex;
  flex-direction: column;
}

#landing-page-top {
  width: 100%;
  display: flex;
}

#logo-container {
  width: 50vw;
}

#logo {
  margin: 30px;
  padding-bottom: 10px;
  background: #1c971c;
  border: 10px solid black;
  outline: 2px solid grey;
  text-align: center;
  font-family: 'fippsregular', Arial sans-serif;
  font-size: 3.5rem;
  flex: 1;
}


