body {
  background-color: rgb(33, 35, 37);
}

p,
label {
  font-family: 'arcadeclassicregular', Arial sans-serif;
  color: white;
}

.game-button {
  margin-left: 1rem;
  padding: 0.3rem 0.7rem;
  max-height: 2.5rem;
  font-family: 'fippsregular', Arial sans-serif;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px gray;
  transform: translate(-2px, -2px);
  outline: none;
}

.game-button:hover {
  background-color: #57bb1e;
  cursor: pointer;
  transform: translate(0, 0);
  box-shadow: none;
}

#landing-page-container {
  max-width: 800px;
  margin: 0 auto;
}

#landing-hero {
  margin-top: 3rem;
  width: 100%;
  display: flex;
}

.landing-hero-left {
  width: 50%;
}

#logo-container {
  width: 100%;
}

#logo {
  margin: 30px;
  padding-bottom: 10px;
  background: #1c971c;
  border: 10px solid black;
  outline: 2px solid grey;
  text-align: center;
  font-family: 'fippsregular', Arial sans-serif;
  font-size: 3.5rem;
  flex: 1;
}

#logo.game-logo {
  background: none;
  border: none;
  outline: none;
  margin: 0;
  font-size: 2rem;
  color: rgb(75, 75, 83);
}
